html {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cart-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #555b6e;
}

.cart-page .item {
  display: flex;
  flex-direction: column;
}

.cart-page .item-details {
  display: flex;
  flex-direction: row;
  align-items: row;
  flex: auto;
  width: 20%;
  border: 0.1rem solid #555b6e;
  padding: 1rem;
  margin: 0.5rem;
}

.cart-page .plant-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.cart-page .quantity-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.cart-page .order-summary {
  flex: 1;
  flex-direction: column;
  display: flex;
  height: 100%;
  background-size: cover;
  background-position: center;
  color: #555b6e;
  transition: flex 0.4s ease;
  position: relative;
  z-index: 2;
}

.cart-page .button-input {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
}

.cart-page button {
  color: #555b6e;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #555b6e;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
.cart-page button:hover {
  color: #bee3db !important;
  background-color: transparent;
  text-shadow: nthree;
}
.cart-page button:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}
.cart-page button:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  color: #bee3db !important;
  background: #555b6e;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

.cart-page .overlay {
  background-color: #bee3db;
  width: 100%;
  height: 100%;
  transition: background-color 0.8s ease;
}

.cart-page .overlay:hover {
  background-color: #89b0ae;
}

.checkout-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #555b6e;
  margin-top: 2%;
  width: 60%;
}

.checkout-page .form-section {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid #555b6e;
  display: flex;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: flex 0.4s ease;
  position: relative;
  z-index: 2;
  width: 65%;
  padding: 2% 5%;
}

.checkout-page h1 {
  align-self: center;
  font-size: 24px;
  line-height: 10px;
  letter-spacing: 1px;
}

.checkout-page form {
  width: 100%;
  margin-top: 20px;
}

.checkout-page form input {
  width: 100%;
  min-height: 25px;
  border: 0;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  margin-top: 5px;
  border-radius: 4px;
}

.checkout-page .name-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.checkout-page .name-input div {
  width: 45%;
}

.checkout-page .address-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.checkout-page .address-input div {
  width: 30%;
}

.checkout-page .button-input {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
}

.checkout-page button {
  color: #555b6e;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #555b6e;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.checkout-page button:hover {
  color: #bee3db !important;
  background-color: transparent;
  text-shadow: none;
}

.checkout-page button:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

.checkout-page button:before {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: '';
  color: #bee3db !important;
  background: #555b6e;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.checkout-page .overlay {
  background-color: #bee3db;
  width: 100%;
  height: 100%;
  transition: background-color 0.8s ease;
}

.checkout-page .overlay:hover {
  background-color: #89b0ae;
}

.orderhistory-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  color: #555b6e;
}

.orderhistory-page h1 {
  align-self: center;
  font-size: 24px;
  line-height: 10px;
  letter-spacing: 1px;
}

.orderhistory-page .order-details {
  display: flex;
  flex-direction: column;
  align-items: row;
  flex: auto;
  width: 100%;
  border: 0.1rem solid #555b6e;
  padding: 1rem;
  margin: 0.5rem;
}

.orderhistory-page .overlay {
  background-color: #bee3db;
  width: 100%;
  height: 100%;
  transition: background-color 0.8s ease;
}

.orderhistory-page .overlay:hover {
  background-color: #89b0ae;
}

/* nav view */
nav {
  margin: 27px auto 0;

  position: relative;
  width: 590px;
  height: 50px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 130px;
}
a:nth-child(2) {
  width: 130px;
}
a:nth-child(3) {
  width: 130px;
}
a:nth-child(4) {
  width: 130px;
}

nav .start-home,
a:nth-child(1):hover ~ .animation {
  width: 130px;
  left: 0;
  background-color: #1abc9c;
}
nav .start-about,
a:nth-child(2):hover ~ .animation {
  width: 130px;
  left: 130px;
  background-color: #e74c3c;
}
nav .start-blog,
a:nth-child(3):hover ~ .animation {
  width: 130px;
  left: 260px;
  background-color: #3498db;
}
nav .start-portefolio,
a:nth-child(4):hover ~ .animation {
  width: 130px;
  left: 390px;
  background-color: #9b59b6;
}

/* nav view */
